<div class="row">
    <h2>About</h2>
    <div>
        <ul>
            <li>Website made using an <a href="https://asp.net">ASP.NET</a> MVC template by Microsoft.</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a>.</li>
        </ul>
    </div>
</div>
