<h1>DOS Technical Test</h1>
<p class="lead">This is a proof of concept web application that interacts with Google's <a href="https://developers.google.com/maps/documentation/distance-matrix/">Distance Matrix API</a></p>
<p>@Html.ActionLink("Start", "Index", new { controller = "DistanceMatrixApi" }, new { @class = "btn btn-primary btn-lg" })</p>
